In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [12]:
df = pd.read_csv('housingprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
df.corr()

              area  bedrooms       age     price
area      1.000000  0.753288 -0.445300  0.901476
bedrooms  0.753288  1.000000 -0.876614  0.923789
age      -0.445300 -0.876614  1.000000 -0.734167
price     0.901476  0.923789 -0.734167  1.000000

In [14]:
median_bedrooms = df.bedrooms.median()

In [15]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df.bedrooms

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [16]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [17]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [19]:
reg.predict([[2500,4,5]])

array([578876.03748933])